*, :after, :before { box-sizing: border-box; }

body {
	
	font-family: Montserrat;
	background-color: #FAFAFA;
	opacity: 100%;
	margin: 60px 20px 60px 20px;
	text-align: center;
	display: flex;
	
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 16px;
	margin-left: 110px;
	margin-right: 110px;
	margin-top: 60px;
	margin-bottom: 15px;
	padding: 0;
	text-wrap: nowrap;
}

h1, h2 {
	color: #000000;
	font-weight: 500;
}

h3 {
	color: #8B8B8B;
	font-size: 13px;
	font-weight: 300;
	margin-left: 30px;
}

.sloupec {
	width: 460px;
	height: 80px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 4px 6px #407BFF1F;
	padding: 20px;
	margin: auto;
	display: flex;
	margin-bottom: 15px;
	
}

.map-icon, .plane-icon, .cactus-icon, .palm-icon, .umbrella-icon, .rv-icon {
	display: inline-block;
}

.nadpis {
	text-wrap: nowrap;
	margin-top: 40px;
	margin-bottom: 10px;
	display: inline-block;
	
}


.p1, .p2, .p3 {
	font-size: 16px;
	font-weight: 300;
	color: #8B8B8B;
	text-align: center;
	margin-bottom: 30px;
	
}

.tlacitko {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 11px 30px;
	border-radius: 20px;
	box-shadow: none;
	opacity: 1;
	letter-spacing: 0px;
	text-decoration: none;
	height: 40px;
	text-wrap: nowrap;
	align-items: center;
}

.tlacitko-dobrodruzstvi {
	width: 195px;
	background-color: #407BFF;
	margin-left: 130px;
	margin-right: 130px;
}

.tlacitko-pohoda {
	width: 220px;
	background-color: #8B8B8B;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 10px;
}

.rectangle{
	width: 60px;
	height: 2px;
	background-color: #407BFF;
	margin: 10px 200px 30px 200px;
	display: inline-block;
	
}

@media screen and (min-width: 640px) {
	
	.sloupec {
		width: 30%;
		height: 30%;
		margin-top: 10px;
		display: inline-block;

	}
	.tlacitka {
		display: flex;
		margin-bottom: 20px;
		align-items: center;
		justify-content: center;
	}
	.tlacitko-dobrodruzstvi {
		
		margin-right: 10px;
	}
	.tlacitko-pohoda {
		
		margin-left: 10px;
		margin-top: 0;
	}
	
	h3 {
		margin-left: 0;
	}
	.nadpis{
		display: flex;
		justify-content: center;
	}
	
}

@media screen and (min-width: 1100px) {
	.pruh{
		max-width: 1040px;
		margin: auto;
	}

	.sluzby-kancelare, .sluzby-delegatu, .tlacitka, .uvod{
		display: flex;
	}
	
	.p1, .p2, .p3{
		width: 430px;
		text-align: left;
	}
	.uvod-text-tlacitka{
		width: 50%;
	}
	.p1{
		
		margin-right: 135px;
		margin-left: 50px;
		margin-right: 95px;
		
	}
	.p1, .nadpis{
		display: inline-block;
	}
	
	.tlacitko-dobrodruzstvi{
		margin: 0 10px 150px 100px;
	}
	.tlacitko-pohoda{
		margin: 0 150px 150px 10px;
	}
	.nadpis{
		text-align: left;
		margin-right: 380px;
		margin-left: 50px;
		margin-top: 70px;
		padding: 0;
		margin-bottom: 0;
	}
	h2{
		text-wrap: nowrap;
		text-align: left;
		padding-left: 0;
		margin: 0;
	}
	.sloupec {
		width: 30%;
		height: auto;
		display: inline-block;
		text-align: center;
		margin-right: 10px;
		
	}
	.sluzby-kancelare, .uvod{
		flex-direction: row-reverse;
	}
	.sluzby-del-text{
		display: inline-block;
		margin-top: 40px;
		margin-right: 50px;
		margin-left: 20px;
		width: 50%;
	}
	.sluzby-kan-text{
		display: inline-block;
		margin-left: 50px;
		margin-right: 20px;
		margin-top: 40px;
		width: 50%;
	}
	.kontejner1{
		margin-bottom: 80px;
		padding: 0;
	}
	.happy-traveler{
		margin-bottom: 80px;
		margin-right: 60px;
		max-width: 425px;
		margin-top: 0;
	}
	.rectangle{
		margin-left: 50px;
		margin-right: 520px;
	}
}